page-menu02 {
    ion-content{    
        background-image: url("/assets/imgs/FUNDO.jpg");
        background-size: 100% 100%;
        .div{
            margin: 20px 100%;
        }
        .modos{
            margin: 100px 42.5px;
        }
        .criar{
            margin: 100px 40px;
        }
    }
}
