page-menu02 {
    ion-content{    
        background-image: url("/assets/imgs/FUNDO.jpg");
        background-size: 100% 100%;
        .menu02_info{
            width: 80%;
            height: auto;
            position: absolute;
            z-index: 0;
        }
        .menu02_config{
            width: 20%;
            height: auto;
            position: absolute;
            z-index: 1;
            left: 80%;
            top: 10%;
        }
        .menu02_div{
            width: 100%;
            height: 20%;
            position: relative;
        }
        .menu02_nick{
            z-index: 2;
            position:absolute;
            font-size: 250%;
            bottom: 24.5%;
            left: 32%;
            color: snow;
            -webkit-text-stroke-width: 1.2px;
            -webkit-text-stroke-color:black;
        }
        .menu02_wins{
            z-index: 2;
            position:absolute;
            font-size: 200%;
            bottom: -12%;
            left: 27%;
            color: snow;
            -webkit-text-stroke-width: 1.2px;
            -webkit-text-stroke-color:black;
        }
        .menu02_losses{
            z-index: 2;
            position:absolute;
            font-size: 200%;
            bottom: -12%;
            left: 60%;
            color: snow;
            -webkit-text-stroke-width: 1.2px;
            -webkit-text-stroke-color:black;
        }
        .menu02_modo1{
            left: 25%;
            top: 50%;
            width: 50.5%;
            height: auto;
            position: absolute;
        }
        .menu02_modo2{
            width: 37.5%;
            height: auto;
            right: 10%;
            position: absolute;
        }
        .menu02_div2{
            top: 15%;
            width: 100%;
            height: 20%;
            position: relative;
        }
        .menu02_criar{
            width: 87%;
            height: auto;
            position: absolute;
            top: 85%;
            left: 8%;
        }
    }
}
